.movie-poster{
  width:340px;
  height:500px;
  object-fit: cover;
 
  border-top-left-radius: 20px;    
  border-top-right-radius:20px;
  
}
.movie-container{
  margin-top: 12px;
  border-radius: 30px;
  width:340px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height:min-content;
}
.movie-specs{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name{
  /* margin-left:10px; */
  padding-left: 20px;
  /* margin:0; */
  font-size:24px;
}
.movie-summary{
  padding:20px;
  margin-top:0;
  background-color: lightgrey;
}
.movie-rating{
  margin-right: 10px;
  font-size:18px;
}
.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:16px;
}
.not-found{
  width: 100%;
  object-fit: contain;
  max-height: 700px;
}
.movie-detail-container{
  max-width: 800px;
}
.add-movie-form{
  display:flex;
  flex-direction:column;
  gap:10px;
  margin:16px;
}
.router-container{
 padding:24px;
}